*{
  font-size: 20px ;
  border-radius: 2px;
}
h1 {font-size:  2rem;}
h2 {font-size:  1.5rem;}
h3 {font-size:  1.3rem;}
h4 {font-size:  1rem;}
h5 {font-size:  0.8rem;}
h6 {font-size:  0.7rem;}

body{
  color:azure;
  background-color: #151515;
  font-family: 'Tahoma', 'sans-serif';
  font-weight: normal;
  font-style: normal;

}

p{
  margin: 0;
}


header{
  top:0;
  display:flex;
  background-color: #151515;
  height:auto;
  position: fixed;
  margin:0;
  width:100%;
  z-index:99999999999999;

}
header img{

  height:100px;

}
header h1{
  /* padding-top:10px; */
  font-family: 'Inconsolata', monospace;
  font-size: 3rem;
}
.header::after{
  content: "";
    width:100%;
    height:40px;
    background: linear-gradient(transparent, #151515);
    position:absolute;
    bottom: 0;
} 

a:link{
  color:cyan;
}
a:visited{
  color: darkcyan;
}
a:hover{
  color:lightcyan
}
a:active{
  color: white;
}

header a{
  color: darkcyan;
  text-decoration: none;
}



.item, nav, .outlet, .previous-subreddits{
  border:1px solid grey;
  box-shadow: 1px 1px 2px #555 inset;
  padding-right:1px;
}

.item-title a {
  all: unset;
  color: white !important; 
  text-decoration: none !important; /* no underline */
}

.listing-header{
  margin-left: 10px;
}
.strapline{
  padding-bottom: 10px;
}

.mediaContainer {
  display:flex;
  align-items:stretch;
  width:100%;
  max-width:1000px;
  /* border:green 1px solid; */
}
.visualMediaContainer{
  width: 100%;
  height:100%;
  max-height: 850px;
  max-width: 990px;
  /* display:flex; */
  /* justify-content: center; */
  background-color: #008b8b55;
  border-radius: 2%;
  /* border:plum 1px solid; */
  object-fit: cover;
}

.visualMediaContainer img{
  object-fit: contain;
  max-height:inherit !important;
  max-width:inherit !important;
  width: 100%;
  height:100%;
  object-fit: contain  
}


.video{
  object-fit: contain;
  align-items: stretch;

  position: relative;
  flex: 1 1 auto;
  display:block;
  width: 100%;
  display: block;
}   




.video iframe {
  flex: 1 1 auto;
  position:absolute;
  top: 0;
/*   bottom: 0; */
  left: 0;
/*   right: 0; */
  height: 100%;
  width: 100%;
  display: block;
  /* min-height: 500px */
}
.reddit-video{
  height:inherit;
  width:inherit;
}

.reddit-video *{

  max-height: 850px;
  max-width: 990px;
}
video-js {
  height:inherit !important;
  width:inherit !important;
  padding-top: none !important;

}

video-js video{
  /* min-width: 800px; */ /* Adjust the minimum width as needed */
  /* height:auto; */
  object-fit:contain;
/*   height:100%;
  width:100%; */
}
.datavjs {
  display: 'flex';
  justify-content: 'center';
  align-items: 'center';
}
.videoRef{
  height:inherit;
  width:inherit;
}

.search{
  padding-left:50px;
  padding-top:30px;
  padding-right:30px;
}
.search input{
  height:50px;
  max-width:750px;
  font-size:  1.5rem;
  background-color: rgba(128, 128, 128, 0.2);
  border:1px solid grey;
  color: darkcyan;

}
.search .checkbox1{
  height:20px;
  width:auto;
}
.article{
  display: flexbox;
  max-width: 1000px;

  margin-left:75px;
  padding:25px;
}
.item{
  max-width: 1000px;

  margin-left:75px;
  padding:25px;
  word-wrap: break-word;
}

/* .reply-container{
  border-right: 1px solid grey;
} */

.reply .author{
  margin-bottom:5px;
}
.reply .reply-body{
  padding-left:1em;
  padding-bottom:1em;
  word-wrap: break-word;
}
.reply-first{
  border-bottom: 1px solid grey;
  border-right: 1px solid grey;
  margin-bottom:0.75em !important;
  box-shadow:  5px 5px 5px rgba(128, 128, 128, 0.2)

}

.reply{
  padding-left:5px;
  margin-bottom:2px;
  margin-left:10px;
  /* box-shadow: 1px 1px 2px #555 inset; */
  border-top: 1px solid grey;
  border-left: 1px solid grey;

}
nav{
  margin-top:150px;
  margin-right:10px;
  padding-left:10px;
}
nav li{
  display: inline;
  padding-left:10px;
}


main{
  display:flex;
  width:100%;
  /*     border:red 1px solid; */
/*   align-content: center;
  justify-content: center; */
}
.previous-subreddits{
  padding-left:10px;
  margin:10px
}
.outlet {

  width:100%;
  margin:10px
}

.reply-image{
  max-width: 95%;
  object-fit: cover;
}
.gallery{
  margin-bottom: 1em;
}
.gallery-buttons{
  width:100%;
  display:flex;
  justify-content: space-between;
  margin-top: 10px;
}

button {
  border: none;
  border-radius: 2%;
  padding: 15px 32px;
  text-align: center;
  text-decoration: none;
  display: inline-block;
  border:darkcyan 1px solid;
  background-color: black;
  color:darkcyan;
  font-family: "Poppins", sans-serif;
  font-size: 100%;
  line-height: 1.15;
  margin: 5px;
  margin-top: 10px;
  
}
button:active{
  border:cyan 1px solid;
  background-color: grey;
  color:cyan;
}
button:hover{
  border:cyan 1px solid;
  color:cyan;
}
button:disabled{
  border:grey 1px solid;
  background-color: black;
  color:grey;
}

.linked-article-container{
  width:100%;
  display:flex;
  flex-flow: row;
  justify-content: space-between;
}

.arrow-right {
  width: 0; 
  height: 0; 
  border-top: 60px solid transparent;
  border-bottom: 60px solid transparent;
  
  border-left: 60px solid green;
}

@media screen and (max-width: 900px) {
/*   body {
    background-color: lightgreen;
  } */
  .previous-subreddits{
    display:none;
  }
}

