.embeddedVideo{
    width: 500px;
    display: block;
  }
  
  .item{
    width: 750px;
    padding-left:100px;
    border-bottom: 1px grey;
  }

  .image{
    min-width:500px;
    height:100%;
    
  }

  .reply{
    padding-left:5px;
    margin-bottom:1px;
    border:1px solid grey;
  }