body{
  color:antiquewhite;
  background-color: #151515;
 

}

header{
  top:0;
  display:flex;
  background-color: #151515;
  height:100px;
  position: fixed;
  margin:0;
  width:100%;
  z-index:99999999999999;
}
header img{

  height:100px;
}

a:link{
  color:cyan;
}
a:visited{
  color: darkcyan;
}
a:hover{
  color:lightcyan
}
a:active{
  color: white;
}


.video{
  position: relative;
   display:flex;
   min-width: 1000px;
   min-height: 500px;
   width: 100%;
   display: block;
   /* border:red 1px solid; */
 }

.video iframe {
  position:absolute;
  top: 0;
  bottom: 0;
  left: 0;
  right: 0;
  height: 100%;
  width: 100%;
  min-height: 500px
}

  
.article, .item{
  width: 1000px;
  margin-left:75px;
  padding:25px;
}

.item, .reply{
  border:1px solid grey;
  box-shadow: 1px 1px 2px #555 inset;
}


.item{
  display:flex;
  width: 1000px;
  margin-left:75px;
  padding:25px;
  justify-content:center;
}

.image{
  width:1000px;
  height:100%;
  min-width: 1000px;
  
}
.mediaContainer img{
  width:1000px;
  height:100%;
  min-width: 1000px;
  
}
.reply{
  padding-left:5px;
  margin-bottom:2px
}
nav{
  margin-top:100px
}
nav li{
  display: inline;
  padding-left:10px;
}


main{
  display:flex;
  /*     border:red 1px solid; */
/*   align-content: center;
  justify-content: center; */
}
.previous-subreddits{
  
  margin:10px
}
.outlet {
  /* display:flex; */
  
  margin:10px
}
/* head{

} */